/* Basic reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #c0c0c0);
    padding: 20px;
}

#app-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin: 15% 0;
    width: 100%;
    max-width: 600px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 10% 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#lecture-notes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lecture-note {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lecture-note span {
    color: #0e1d34;
}

.lecture-note a {
    color: #0e1d34;
    background: #ff8c00;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.lecture-note a: hover {
    background: #0e1d34;
    color: #ff8c00;
}

footer {
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
    color: #555;
}

/* Responsive design */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    .lecture-note {
        flex-direction: column;
        align-items: flex-start;
    }

    .lecture-note a {
        margin-top: 10px;
    }
    }
