body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0e1d34 0%, #fff 50%, darkgreen 100%);
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: darkgreen;
    text-shadow: 1px 2px #fff;
}

h1 span {
    color: #fff;
    text-shadow: 1px 2px #0e1d34;
}

#upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

#upload-section input {
    border: 0!important;
}

#file-input {
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px!important;
    background-color: #ff8c00;
    box-shadow: 1px 2px 1px teal;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

#pdf-list {
    width: 100%;
    max-width: 500px;
}

#pdf-list a {
    display: block;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background: white;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #555;
}
